@font-face {
    font-family: 'Lovelo';
    src: url("./fonts/lovelo.woff") format("woff");
    src: url("./fonts/lovelo.woff2") format("woff2");
}

.main-logo-text {
    color: #FFFFFF;
    font-family: 'Lovelo', sans-serif;
    font-size: 1000%;

    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    
    0 6px 1px   rgba(0,0,0, 0.10),
    0 0px 5px   rgba(0,0,0, 0.10),
    0 1px 3px   rgba(0,0,0, 0.30),
    0 3px 5px   rgba(0,0,0, 0.20),
    0 5px 10px  rgba(0,0,0, 0.25),
    0 10px 10px rgba(0,0,0, 0.20),
    0 20px 20px rgba(0,0,0, 0.15);
}

.main-logo-text > .logo-green {
    text-shadow: 
    1px 1px 0 #44bd32, 
    2px 2px 0 #44bd32,
    3px 3px 0 #44bd32,
    4px 4px 0 #44bd32,
    5px 5px 0 #44bd32,
    
    6px 6px 1px   rgba(0,0,0, 0.10),
    0 0px 5px   rgba(0,0,0, 0.10),
    1px 1px 3px   rgba(0,0,0, 0.30),
    3px 3px 5px   rgba(0,0,0, 0.20),
    5px 5px 10px  rgba(0,0,0, 0.25),
    10px 10px 10px rgba(0,0,0, 0.20),
    20px 20px 20px rgba(0,0,0, 0.15);
}

.main-logo-text > .logo-blue {
    text-shadow: 
    1px 1px 0 #00a8ff, 
    2px 2px 0 #00a8ff,
    3px 3px 0 #00a8ff,
    4px 4px 0 #00a8ff,
    5px 5px 0 #00a8ff,
    
    6px 6px 1px   rgba(0,0,0, 0.10),
    0 0px 5px   rgba(0,0,0, 0.10),
    1px 1px 3px   rgba(0,0,0, 0.30),
    3px 3px 5px   rgba(0,0,0, 0.20),
    5px 5px 10px  rgba(0,0,0, 0.25),
    10px 10px 10px rgba(0,0,0, 0.20),
    20px 20px 20px rgba(0,0,0, 0.15);
}
